<div class="container">
<section class="cats-container">
    <article><a class="link" href="#"><img src="/assets/img/gatopegando.jpg" alt=""></a></article>
    <article><a href="#"><img src="/assets/img/gatosorrindo.jpg" alt=""></a></article>
    <article><a href="#"><img src="/assets/img/gatoolhando.jpg" alt=""></a></article>
</section>
<section class="cats-container2">
    <article><a href=""><img src="/assets/img/gatodeoculos.jpg" alt=""></a></article>
    <article><a href=""><img src="/assets/img/gatopensando.jpg" alt=""></a></article>
</section>
<section class="cats-container3">
    <article><a href="#"><img src="/assets/img/gatopreguica.jpg" alt=""></a></article>
</section>
<section class="cats-container4">
    <article><a href="#"><img src="/assets/img/gatolaranja.jpg" alt=""></a></article>
    <article><a href="#"><img src="/assets/img/gatotriste.jpg" alt=""></a></article>
    <article><a href="#"><img src="/assets/img/gatoeborboleta.jpg" alt=""></a></article>
</section>
<section class="cats-container5">
    <article><a href=""><img src="/assets/img/gatoserio.jpg" alt=""></a></article>
    <article><a href=""><img src="/assets/img/gatobranco.jpg" alt=""></a></article>
</section>
<section class="cats-container6">
    <article><a href="#"><img src="/assets/img/doisgatos.jpg" alt=""></a></article>
</section>
</div>
